/* song page css */
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Roboto+Slab:300&display=swap');
@import 'reset.css';
@import 'typography.css';
@import 'song.css';
@import 'song-page.css';

body {
    background: #fafafa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    flex: 0 0 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #808080;
    padding: 0 24px;
  }

  .main {
    flex: 1 0 auto;
    padding: 24px;
  }

  .song-page {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 3px 4px 23px 0px #ccc;
    height: 400px;
    margin: 48px auto;
    padding: 24px;
    width: 400px;
  }
  .song-page--title {
    border-bottom: 1px solid #ccc;
    font-size: 24px;
    margin-bottom: 8px;
    padding-bottom: 16px;
    text-align: center;
  }
  
  .song-page--artist {
    text-align: center;
  }
  
  .song-page--stream-count {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 180px;
    font-weight: 700;
    color: #ccc;
  }