<%- include( '../partials/singlesongheader') %>
<div class="main">
    <div class="song-page">
    <h2 class="song-page--title"><%= song %></h2>
    <h2 class="song-page--artist"><%= artist %></h2>
    <h2 class="song-page--stream-count"><%= streams %></h2>
</div>
</div>