<%- include( '../partials/header') %>
<div>
    <h2 class='title'></h2>
    <ol>
<%- include('../partials/song') %>
    </ol>
    <!-- <p class='subtitle'> <%= path %></p> -->
</div>
<%- include( '../partials/footer') %>